<p><img alt="png" src="../fig/numpy_3_1.png" /></p>
<hr/>
<p><img alt="png" src="../fig/numpy_7_0.png" /></p>
<hr/>
<p><img alt="png" src="../fig/images_3_1.png" /></p>
<hr/>
<p><img alt="png" src="../fig/images_4_1.png" /></p>
<hr/>
<p><img alt="png" src="../fig/images_6_1.png" /></p>
<hr/>
<p><img alt="png" src="../fig/images_7_1.png" /></p>
<hr/>
<p><img alt="png" src="../fig/images_12_1.png" /></p>
<hr/>
<p><img alt="png" src="../fig/images_14_1.png" /></p>
<hr/>
<p><img alt="png" src="../fig/pandas_6_1.png" /></p>
<hr/>
<p><img alt="png" src="../fig/pandas_8_1.png" /></p>
<hr/>
<p><img alt="png" src="../fig/pandas_10_1.png" /></p>
