<p><img alt="png" src="../fig/numpy_9_0.png" /></p>
<hr/>
<p><img alt="png" src="../fig/numpy_11_1.png" /></p>
<hr/>
<p><img alt="png" src="../fig/numpy_16_1.png" /></p>
<hr/>
<p><img alt="png" src="../fig/numpy_17_1.png" /></p>
<hr/>
<p><img alt="png" src="../fig/numpy_18_1.png" /></p>
<hr/>
<p><img alt="png" src="../fig/numpy_19_1.png" /></p>
<hr/>
<p><img alt="png" src="../fig/numpy_20_1.png" /></p>
<hr/>
<p><img alt="png" src="../fig/numpy_23_1.png" /></p>
<hr/>
<p><img alt="png" src="../fig/numpy_24_1.png" /></p>
<hr/>
<p><img alt="png" src="../fig/numpy_26_1.png" /></p>
<hr/>
<p><img alt="png" src="../fig/images_3_1.png" /></p>
<hr/>
<p><img alt="png" src="../fig/images_4_1.png" /></p>
<hr/>
<p><img alt="png" src="../fig/images_6_1.png" /></p>
<hr/>
<p><img alt="png" src="../fig/images_7_1.png" /></p>
<hr/>
<p><img alt="png" src="../fig/images_12_1.png" /></p>
<hr/>
<p><img alt="png" src="../fig/images_14_1.png" /></p>
<hr/>
<p><img alt="png" src="../fig/pandas_6_1.png" /></p>
<hr/>
<p><img alt="png" src="../fig/pandas_8_1.png" /></p>
<hr/>
<p><img alt="png" src="../fig/pandas_10_1.png" /></p>
<hr/>
<p><img alt="png" src="../fig/pandas_14_1.png" /></p>
<hr/>
<p><img alt="png" src="../fig/pandas_19_1.png" /></p>
<hr/>
<p><img alt="png" src="../fig/pandas_21_2.png" /></p>
